<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/style.css') }}">
    <title>Index</title>
</head>

<body>
    <main>
        <h1 class="titlo">Página para Engenharia Reversa</h1>
        <p class="descricao_pagina">Este site server para definicao de aprendizagem</p>

        <p class="titlo_engenharia">O que é Engenharia Reversa</p>
        <p class="texto_engenharia">
            A Engenharia Reversa, quando usada de maneira maliciosa, disfraca atividades
            aparentemente inofensivas, como analises tecnicas, enquanto nos bastidores, busca
            roubar informacoes valiosas por meio de exploracao de vulneriblidades. O uso etico e
            legal dessa pratica é essencial para eviar conseguencias legais e promover a
            segurnaça digital
        </p>
    </main>
    <aside>
        <a href="{{ url_for('login') }}">Login</a>
    </aside>
</body>

</html>