:root {
    --primary: rgb(84, 84, 214);
    --secundary: rgb(255, 255, 255);
    --primary_button: rgb(207, 204, 204);
    --secundary_button: rgb(0, 0, 0);
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--secundary);
    background: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    position: relative;
    width: 1200px;
}

.button {
    background: var(--primary_button);
    color: var(--secundary_button);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    left: 145%;
    bottom: 60px;
}

.button:hover {
    background: var(--secundary_button);
    color: var(--primary_button);
}
